name: Publish to TestPyPI

on: workflow_dispatch

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: test.pypi
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.14"
          cache: "poetry"
      - name: Build distribution
        run: poetry build
      - name: Publish distribution to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
