@font-face {
	font-family: Roboto;
	src: url('/Roboto-Regular.ttf');
	font-weight: normal;
}

:root {
	--bg-color: #121212;
	--primary-color: rgb(72, 212, 93);
	--secondary-color: #b1b1b1;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
}

.wrapper {
	padding: 0 1rem;
}

.w-100 {
	width: 100%;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-half {
	margin-top: .5rem;
}

.btn {
	padding: .8rem;
	border: 1px solid var(--primary-color);
	border-radius: 4px;
	background-color: transparent;
	color: var(--primary-color);
	cursor: pointer;
	outline: none;
}

.btn:hover {
	background-color: rgba(72, 212, 93, 0.068);
}

.btn:active {
	color: var(--bg-color);
	background-color: var(--primary-color);
}

.err-card {
	position: fixed;
	transform: translate(-50%, -50%);
	top: -3rem;
	left: 50%;
	transition: top 0.1s linear;
	text-align: center;
	background-color: rgb(255, 165, 165);
	color: rgb(95, 20, 20);
	box-shadow: 0px 0px 2px 4px rgba(255, 40, 40, 0.5);
	border-radius: 4px;
	width: calc(100% - 2rem);
	padding: .8rem;
}

body {
	background-color: var(--bg-color);
	color: var(--secondary-color);
	overflow: hidden;
}

#disable {
	position: absolute;
	z-index: 1;
	background-color: transparent;
	width: 0%;
	height: 0%;
}

nav {
	display: flex;
	justify-content: space-around;
}

nav div {
	text-align: center;
}

nav a {
	display: block;
	padding: 1rem 0;
	text-decoration: none;
	color: var(--secondary-color);
	border-bottom: solid 1px var(--secondary-color);
	transition-property: background-color, color, border-color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

nav a:hover {
	color: var(--primary-color);
	border-bottom: solid 1px var(--primary-color);
}

nav .active {
	background-color: #242424;
	color: var(--primary-color);
	border-bottom: solid 1px var(--primary-color);
}

section.target-type .radio {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

section.target-type .radio label {
	margin-left: .4rem;
	cursor: pointer;
}

section.target-type input[type=radio] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 18px;
	height: 18px;
	transition: border-width 0.1s linear;
	cursor: pointer;
	
	border-radius: 50%;
	border: 1px solid var(--secondary-color);
	outline: none;
}

section.target-type input[type=radio]:checked {
	border-color: var(--primary-color);
	border-width: 6px;
}

section.browser {
	display: flex;
	justify-content: space-between;
}

section.browser input[type=text] {
	padding: .8rem;
	background-color: transparent;
	outline: none;
	border: 1px solid #555;
	border-radius: 4px;
	color: var(--secondary-color);
	margin-right: .6rem;
}

section.password div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section.password label {
	width: 24%;
}

section.password input[type=password] {
	padding: .8rem;
	background-color: transparent;
	outline: none;
	border: 1px solid #555;
	border-radius: 4px;
	color: var(--secondary-color);
	margin-left: .6rem;
	transition: box-shadow 0.1s linear;
}

section.password input[type=password]:focus {
	box-shadow: 0px 0px 1px 4px #242424;
}

section.options div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

section.options input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 18px;
	height: 18px;
	transition: background-color 0.1s linear;
	cursor: pointer;

	outline: none;
	border: 1px solid var(--secondary-color);
	background: transparent;
	border-radius: 4px;
}

section.options input[type=checkbox]:checked {
	background-color: var(--primary-color);
	box-shadow: inset 0px 0px 0px 4px var(--bg-color);
}

section.options label {
	margin-left: .4rem;
	cursor: pointer;
}

#logs {
	position: absolute;
	bottom: 1rem;
	border: 1px solid #555;
	border-radius: 4px;
	margin: 1rem 1rem 0;
	height: 80px;
	width: calc(100% - 2rem);
}

#logs > label {
	position: relative;
	top: -10px;
	background-color: var(--bg-color);
	padding: 0 .4rem;
}

#error {
	color: rgb(200, 50, 50);
}

#logs > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logs > div #progressbar {
	border: 1px solid #555;
	border-radius: 4px;
	height: 16px;
}

#logs > div #progressbar > div {
	height: 100%;
	background-color: var(--primary-color);
}

#logs > div #percentage {
	margin-left: .6rem;
}
